*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --base: green;
}

body {
  background-color: #f3f3f3;
  margin: 0;
}

.container .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 14px 0 var(--base);
  border: 2px solid var(--base);
  background-color: white;
}

.container .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

.container .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f3f3f3;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

@page {
  margin: 1in;
}

@media print {
  body {
    background: none;
  }

  .container .ql-editor {
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
  }

  .container .ql-toolbar.ql-snow {
    display: none;
  }
}

/* FOOTER */
.footer {
  text-align: center;
  margin: 20px 0 40px 0;
}
.btn-cos {
  height: 40px;
  padding: 10px;
  font-weight: bold;
  color: white;
  background: rgb(49, 49, 49);
  border: none;
  border-radius: 10px;
}

/* FOOTER */
